.footer {
	position: relative;
	background: var(--footerBg);
	color: #fff;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
}

.link {
	color: var(--primaryFg);
	font-weight: 600;
}