:root {
	--navBg: #141E26;
	--bg: #11191F;
	--icons: #fff;
	--neutralColor: #ffd000;
	--dialogBg: #18232C;
	--headerFgColor: #BBC6CE;
	--iconsHover: #B4C6D6;
	--footerBg: #228b4a;
	--primaryFg: #eaeaea;
	--greenDollarHover: #27da5c;
}

body {
	position: relative;
	margin: 0;
	height: 100vh;
	text-align: center;
	background: var(--bg);
}

#navFullContainer {
	overflow: hidden;
	position: relative;
	background: var(--navBg);
	background-size: cover;
	border-radius: 0px 0px 45px 45px;
}

.img-bg {
  opacity: 0.25;
  position: absolute;
  left: 0;
  top: 0;
	object-fit: cover;
	background-size: cover;
  width: 100%;
  height: auto;
}

h2 {
	padding: 25px 0 0 0;
}

nav {
	height: 125px;
	position: relative;
}

nav button {
	background: transparent;
	border: none;
}

nav button i {
	transition: all .2s !important;
}

nav button:focus {
	border: none;
	box-shadow: none;
}

nav button:hover i {
	color: var(--iconsHover);
}

nav button i {
	font-size: 30px;
	vertical-align: text-bottom;
	color: var(--icons);
}

h1 {
	margin-top: 50px;
}

tbody tr {
	transition: all .1s;
	cursor: pointer;
}

tbody tr:hover {
	background: var(--primary) !important;
}

tbody tr:hover th, tbody tr:hover td {
	color: #fff;
}

#red {
	color: #e43737;
}

#green {
	color: #27da5c;
}

#neutral {
	color: var(--neutralColor);
}

tbody tr:hover #green {
	color: var(--greenDollarHover);
}

footer {
	padding: 20px;
	background: var(--footerBg);
	color: #fff;
	bottom: 0;
	width: 100%;
}

footer a {
	color: var(--primaryFg);
	font-weight: 600;
}

dialog {
	display: none;
}

#closeBtn {
	padding: 10px 10px 10px 10px;
  margin-right: -10px;
  margin-top: -9px;
  float: right;
  color: #fff;
  width: auto;
	background: none;
	border: none;
}

#title {
	color: var(--headerFgColor);
}

dialog article {
	min-width: 350px;
}

dialog article a {
	padding: 10px 4rem;
	border-radius: 3px;
}

dialog article a:hover {
	background: var(--primary-hover);
	color: var(--h1-color);
	text-decoration: none;
}

dialog article header {
	text-align: justify;
}

#dialogHeader {
	background: var(--dialogBg);
}

dialog article header a {
	padding: 10px 10px 10px 10px;
	margin-right: -10px;
	margin-top: -9px;
	float: right;
	color: #fff;
}

#darkMode {
	width: 100%;
}

:root:not([data-theme=dark]), [data-theme=light] {
	--navBg: #114726;
	--bg: #fff;
	--icons: #fff;
	--neutralColor: #c29e00;
	--dialogBg: #228b4a;
	--primary-hover: #1d6d3c;
	--headerFgColor: #fff;
	--iconsHover: #eaeaea;
	--h1-color: #fff;
	--primary: #228b4a;
	--primary-focus: rgba(16, 193, 54, 0.125);
}

:root:not([data-theme=light]), [data-theme=dark] {
	--footerBg: #141E26;
	--primaryFg: #1095C1;
	--greenDollarHover: #00ff4c;
	--table-row-stripped-background-color: #16212b;
}

@media screen and (max-height: 577px) {
	footer {
		bottom: -55px;
	}
}

@media screen and (max-height: 545px) {
	footer {
		bottom: -100px;
	}
}

@media screen and (max-width: 360px) {
	th {
		padding: calc(var(--spacing)/ 2) 10px;
	}
}

@media screen and (max-height: 525px) {
	footer {
		bottom: -150px;
	}
}

@media screen and (max-height: 490px) {
	footer {
		bottom: -180px;
	}
}

@media screen and (max-width: 750px) {
	nav {
		height: 100px;
	}

	nav h1 {
		font-size: 27px;
		vertical-align: middle;
	}
}